{%extends 'base.html'%}
{%block title%}<h1>Upload to SliceMe</h1>{%endblock%}

{% block content %}

    <!-- Form for uploading an image -->
    <form method="POST" action="/up" enctype="multipart/form-data">
      <input type="file" name="image">
      <input type="submit" value="Upload" class="monbtn" style="margin: 2px">
    </form>

    <div class="card-columns">
      <!-- Display the uploaded image (if provided) -->
    {% if filename %}
    <script>
      var enable_process = false;  // Set to 'false' initially
    </script>
    <div class="box">
      <div class="card text-center mb-3 mx-auto" style="width: 25rem;">
        <h5 class="card-header">Input Image</h5>
        <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image">
        <div class="card-body justify-content-center align-items-center">
          <div id="overlay" onclick="off()">
            <div class="w-100 d-flex justify-content-center align-items-center">
              <div class="loader"></div>
            </div>
          </div>
          <form method="POST" action="/process_image/{{filename}}" onsubmit='disableButton()'>
            <button id="processbtn" type="submit" class="monbtn monbtncenter widebtn">Process</button>
          </form>
        </div>
      </div>
      </div>
      <script>
        
        function off() {
          document.getElementById("overlay").style.display = "none";
        }
        function disableButton() {
            var btn = document.getElementById('processbtn');
            btn.disabled = true;
            btn.innerText = 'Processing...'
            
            document.getElementById("overlay").style.display = "flex";
        }
    </script>
    {% endif %}


    {% if resultname %}
    <script>
      var enable_process = false;  // Set to 'false' initially
    </script>
    <div class="box">
      <div class="card text-center mb-3 mx-auto" style="width: 25rem;">
        <h5 class="card-header">Output Image</h5>
        <img class="card-img-top" src="{{ url_for('static', filename='results/'+ resultname) }}" alt="Uploaded Image">
        <div class="card-body justify-content-center align-items-center">
          <!-- <button id="downloadButton" class="monbtn monbtncenter widebtn">Download</button> -->
          <a href="{{url_for('static', filename='results/'+ resultname)}}" download style="text-decoration: None;" class="monbtn monbtncenter widebtn"><i class="fa fa-download"></i>Download</a>
          
          
        </div>
      </div>
      
      </div>

    {% endif %}


 
</div>
{%endblock%}
